@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-family: "Plus Jakarta Sans", serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.popup-card {
  padding: 40px;
  overflow: hidden;
  border-radius: 24px;
  max-width: 850px;
  max-height: 400px;
  position: relative;
  background-color: #fafafa;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.txt-logo-content {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: end;
}
.txt-content {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: end;
}
.txt {
  width: 60%;
  text-align: right;
  color: #878c91;
  font-size: 16px;
  line-height: 150%;
}
.title {
  color: #010205;
  font-size: 48px;
  margin: 10px 0px;
}
.image {
  position: absolute;
  left: -100px;
  bottom: -100px;
  width: 70%;
}

/* ------------------------------------------ */

.card {
  background-image: url(img/card-bg.png);
  max-width: 310px;
  max-height: 310px;
  width: 310px;
  height: 310px;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  border: 10px solid #fafafa;
  transition: transform 0.3s ease;
}

.company-img {
  transition: transform 0.3s ease;
}

.card-name {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: #fcbf17;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 0.3s ease;
}

.company-name {
  color: #010205;
  font-size: 18px;
  font-weight: bold;
}

.details_btn {
  background-color: #1c8adb;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.details_btn-name {
  color: #fafafa;
  font-size: 12px;
  font-weight: bold;
}

.card:hover .company-img {
  transform: scale(1.05);
}

.card:hover .card-name {
  /* bottom: -20%; */
  transform: translateY(110%);
}

.card:hover .details_btn {
  opacity: 1;
}

/* ------------------------------------------------ */

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 90vw;
  padding: 20px 80px;
  gap: 80px;
}

.ts-title {
  font-size: 48px;
  font-weight: 600;
}

.tech-set {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 40px;
}

.tech {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 120px;
}

.tech-category {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
  width: 15%;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  gap: 80px;
  row-gap: 40px;
}

.tech-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-name {
  font-size: 12px;
  font-weight: 500;
}

.tech-divider {
  background-color: #1c8adb;
  height: 1px;
  width: 100%;
  opacity: 20%;
}

/* ------------------------------------------------ */

.location {
  display: flex;
  align-items: flex-end;
  gap: 80px;
  padding: 20px 80px;
}

.startupIndia {
  width: 50%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.our-presence {
  font-size: 48px;
  font-weight: 700;
}

.office-locations {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 40px;
}

.office-add {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: -30px;
}

.country {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.office-type {
  font-size: 24px;
  font-weight: 600;
  color: #878c91;
  margin: 0;
}

.add {
  width: 60%;
  font-size: 14px;
}

/* ------------------------------------------------ */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo {
  width: 40%;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.about-company {
  width: 80%;
  color: #9b9b9c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-title {
  font-size: 24;
  font-weight: 700;
}

.location-phone {
  display: flex;
  gap: 32px;
  margin-top: -10px;
}

.location-detail {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.l_country {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}

.socials {
  display: flex;
  gap: 16px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */

@media screen and (max-width: 770px) {
  .tech-stack {
    gap: 20px;
  }

  .tech {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 40px;
  }

  .location {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
  }

  .startupIndia {
    width: 90%;
  }

  .footer {
    flex-direction: column;
  }
}

/* ------------------------------------------------ */

@media screen and (max-width: 390px) {
  .popup-card {
    height: 570px;
    padding: 16px;
  }
  .txt-logo-content {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: end;
  }
  .txt-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
  }
  .txt {
    width: auto;
    text-align: left;
    color: #878c91;
    font-size: 14px;
    line-height: 150%;
  }
  .title {
    color: #010205;
    font-size: 32px;
    margin: 10px 0px;
  }
  .image {
    position: absolute;
    left: -100px;
    bottom: -125px;
    width: 140%;
  }
  .logo {
    width: 30%;
    margin-top: -30px;
  }
}
